/*
data.css 
*/


.headingCls, #footDiv{text-align: center; }


/* To set background image */
body
{
    background-image: url('gradient-blue.png');
    background-repeat: repeat-x;
}


.tableCls
{
margin-left:auto;
margin-right:auto;
margin-top:50px;
margin-bottom:100px;
}

table
{
border-collapse:collapse;
}
table, td, th
{
border:1px solid #669900;
}
thead
{
background-color:#669900;
color:white;
height:40px;
}

/* Space in b/w the text and the table border of td elements */
td
{
padding:10px;
text-align:center;
font-size:14px;
}

.expCls{
font-size:20px;
width: 65px;
padding-top:15px;
padding-bottom:15px;
background-color:#F0E68C;
}

.finalHeaderRowCls, .secondHeaderRowCls{
height:40px;
width: 165px;
padding-top:15px;
padding-bottom:5px;
}

.varTotalSize{
font-weight: bold;
}

.idxHeaderCls{
font-size:15px;
height:40px;
width:165px;
padding-top:15px;
padding-bottom:15px;
background-color:#F0E68C;
}

.oddCls{
background-color:#F0F8FF;
}

.evenCls{
background-color:#E6E6FA;
}

.zeroByteWarningCls{
background-color: #FF0000;
}

.xmlNotExistsWarningCls{
background-color: #800080;
}

.xmlTAxisMissingWaringCls{
background-color: #FF4500;
}

.ensembleTotal{
background-color: #6666FF;
}

.variableTotal{
background-color: #009933;
}

.GrandTotal{
background-color: #FF33CC;
}

